.homeimg {
    background-image: url("../img/travel1.png");
}

.searchnave {
    background-color: #4da528;
    height: 150px;
}

.bodyclass {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    max-width: 42em;
}

.headp {
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-top: 130px;
    line-height: 1.1;
}

.populertravel {
    font-size: 55px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 130px;
    line-height: 1.1;
}

.card-title {
    font-size: 25px;
    color: red;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.whychooseus {
    font-size: 55px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 130px;
    line-height: 1.1;
}

.manipulationtext {
    font-size: 19px;
    text-align: justify;
}

/*search page*/

.custom-checkbox {
    transform: scale(2.2);
    margin-right: 12px;
    color: #444444;
}

.checkboxText {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #444444;
}

.checkBoxForm {
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #c6c6c6;
}

/*hotelcard*/

.card-title {
    color: #3f3f3f !important;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.card-date {
    color: #787878 !important;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.card-owner {
    color: #3eb00f !important;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
}

.card-text {
    color: #444444;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -5px;
}

.custom-btn {
    background-color: #4da528 !important;
    color: white !important;
    width: 140px !important;
    height: 40px !important;
    border-radius: 12px !important;
    border: none !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.checked {
    color: orange;
}

.FilterTitle {
    color: #444444;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -6px;
}

.hotel-view-title {
    color: #414141;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.hotel-view-p {
    color: #585858;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.package-include {
    color: #459e1f;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 50px;
    margin-bottom: 15px;
}

.packages {
    color: #585858;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
}

/* Full Blog */

.fullblogtitle {
    color: #3f3f3f !important;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

.fullblogtext {
    color: #3f3f3f !important;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
}
